*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
header{
    padding: 16px 0;
    box-shadow: 0 0.1px 5px 0px rgb(214, 214, 214);
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 100;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px
}
header .navigasi{
    float: right;
}

header .container ul li{
    padding: 0 15px;    
    color: white;
    display: block;
    float: left;
}
header .container ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header .container ul li a:hover{
    color: blue;
}
header .container .logo{
    display: flex;
    align-items: center;
    width: 130px;
    height: 35px;
}
header .container .profile{
    font-weight: bold;
    float: left;
    text-align: center;
}
header .container .profile .profile-element{
    display: flex;
    align-items: center;
}
header .container .profile img{
    padding: 0px 8px;
    width: 50px;
}
.menu-icon{
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:  none;
    color: black;
}
.menu-icon:hover{
    color: blue;
}
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -100px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
}
.dropdown-content a i{
    margin-right: 10px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* END HEADER */

/* START HERO */
#hero {
    padding: 100px 50px;
}
#hero .container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#hero .hero-text h1{
    margin-bottom: 20px;
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
}
#hero .hero-text p{
    margin-bottom: 30px;
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
}
.input-search{
    display: flex;
    padding: 12px 18px;
    border: 2px solid #eaeaea;
    border-radius: 30px;
    transition: all .2s ease;
}
.input-search:focus-within{
    border-color: #4CCFC9;
}
.input-search-icon{
    margin-right: 16px;
    color: #5c5c5c;
}
.input-search input{
    border: 0;
    width: 100%;
}
.input-search input:active,
.input-search input:focus{
    border: 0;
    outline: 0;
}
.hero-text{
    text-align: center;
}
.hero-search{
    text-align: center;
}

.mentor-summary{
    display: flex;
    overflow-x: auto;
    padding: 10px;
    -webkit-user-drag: auto;
}
.mentor-summary::-webkit-scrollbar{
    height: 5px;
}
.mentor-summary::-webkit-scrollbar-track{
    background-color: #eaeaea;
    border-radius: 5px;
}
.mentor-summary::-webkit-scrollbar-thumb{
    background-color: #d1d1d1;
    border-radius: 5px;
}
.mentor-summary::-webkit-scrollbar-thumb:hover{
    background-color: #bbbbbb;
}
.mentor-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 175px;
}
.mentor-list{
    margin-top: 70px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: nowrap;
}
.mentor-card{
    box-shadow: 0 0 5px 2px #00000010;
    border-radius: 10px;
    width: 250px;
}
.mentor-card:not(:last-of-type){
    margin-right: 15px;
}
.mentor-desc{
    padding: 16px;
}
.mentor-name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.mentor-job{
    margin-bottom: 16px;
}
.btn-block{
    width: 100%;
    display: block;
}
.btn-primary{
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #4CCFC9;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}
.btn-primary:active{
    box-shadow: inset 2px 2px 5px #00000030;
}

@media screen and (max-width: 991px) {
    .mentor-img img{
        height: 125px;
    }
    .mentor-card{
        width: 150px;
    }
    .mentor-name{
        font-size: 16px;
    }
    .mentor-job{
        font-size: 14px;
    }
}
/* END HERO */

/* Field-3 */
.mentor {
    padding-top: 70px;
    height: 100%;
    min-height: 100vh;
    background-color: #4CCFC9;
}
.mentor .container .judul {
    width: 608px;
    display: flex;
    margin: auto;
}
.mentor .container h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}
.mentor .cardd {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
}
.mentor .card {
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #fff;
}
.mentor .card-title h2 {
    text-align: center;
    color: #000;
}
.mentor .card-body{
    /* width: 320px; */
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.mentor .card-body img {
    width: 200px;
    margin: auto;
}
.mentor .card-body p {
    text-align: center;
    line-height: 32px;
    font-weight: 400;
    font-size: 18px;
}

/* Field-3 End */

/* FIELD-4 START */
.field4{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: #F5F7FB;
}
.field4 .container{
    margin: 120px 75px;
    display: flex;
    flex-direction: row;
}
.img-field4{
    display: flex;
    justify-content: center;
    float:left;
}
.gambar-tentor{
    padding-top: 25px;
    padding-right: 20px;
    width: 540px;
    height: 350px;
    border-radius: 15px;
}
.text-field4{
    float: right;
}
.container .text-field4 h4{
    font-style: normal;
    font-size: 30px;
    letter-spacing: -0.5px;
    color: #000;
}
.container .text-field4 p{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.25px;
    color: #000000;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 24px;
    position: absolute;
    width: 197px;
    height: 64px;
    background: #4CCFC9;
    border-radius: 8px;
}
/* .btn:hover{
    background-color: #0c3d3b;
}
.btn:active {
    position: absolute;
    box-shadow: none;
  } */
.temukan{
    text-align: center;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    /* box-shadow: 0 4px #808080; */
    transition: all 0.3s ease-in;
    box-shadow: 0 9px #999;
    
}
.temukan:hover {
    transform: translateY(10px);
    box-shadow: none;
    cursor: pointer;
}
/* FIELD-4 END */

/* FAQ */
.faq{
    /* margin-top: 100px; */
    padding: 50px 0;
    background-color: #4CCFC9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq .container{
    width: 100%;
}
.faq .container .text-top{
    width: 80%;
    margin: 0 auto;
}
.faq .container .text-top h1{
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 44px;
}
.faq .container .text-top p{
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.faq .container .accordion{
    width: 60%;
    margin: 0 auto;
}
.faq .container .accordion-item{
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.faq .container .accordion-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 10px;  
}
.faq .container .accordion-link a:hover{
    color: blue;
}
.faq .container .accordion-link i{
    color: black;
    padding: 5px 10px 5px 0;
}
.accordion-link .fa-angle-up{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 90%;
    background-color: #4CCFC9;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
}
.container .accordion .answer p{
    color: black;
    padding: 2px 20px 10px 20px;
}
.accordion-item:target .answer{
    max-height:100px;
}
.accordion-item:target .accordion-link .fa-angle-down{
    display: none;
}
.accordion-item:target .accordion-link .fa-angle-up{
    display: block;
}
/* END FAQ */

/*************************
*Footer [Fahri Nurrahman]* 
**************************/
footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 70px;
  }

.flex-container > div {
    flex: auto;
  }

.footer-left {
    width: 30%;
}

.footer-logo {
    width: 60%;
}

.footer-left p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}

.footer-center {
    width: 40%;
    padding-left: 10%;
}

.footer-center-list ul {
    list-style: none;
    padding-left: 0;
}

.footer-center-list li {
    margin: 20px 0;
    font-size: 14px;
}

.footer-center-list a {
    text-decoration: none;
    color: #000000;
}

.footer-center-list a:hover {
    color: #4ccfc9;
}

.footer-heading h3 {
    margin: 0;
    font-size: 18px;
}

.footer-right {
    width: 30%;
}

.footer-right p {
    font-size: 14px;
    margin: 20px 0;
}

.footer-right a:hover {
    font-weight: 500;
}

.footer-copyright {
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}
/******************************
* End Footer [Fahri Nurrahman]* 
*******************************/

/* RESPONSIVE TABLET */
@media all and (max-width: 1000px) {
    /* HEADER RESPONSIVE */
    header{
        padding: 2px 0;
    }
    header .container{
        padding: 0 40px;
    }
    .navigasi{
        display:  none;
      }
    .profile{
        display: none;
    }
    .menu-icon{
        display:  block;
    }
    /* END HEADER RESPONSIVE */


    /* Field-3 Start */
    .mentor .cardd {
        display: flex;
        flex-direction: column;
    }
    .mentor .card {
        width: 300px;
        margin-left: 0;
    }
    .mentor .card-body {
        width: 270px;
    }
    /* Field-3 End */

    /* Field-4 Start */
    .field4 .container{
        display: flex;
        flex-direction: column;
    }
    .field4 .gambar-tentor{
        width: 100%;
        height: auto;
        padding-left: 38px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
    .field4 .text-field4 h4{
        /* width: 100%; */
        text-align: center;
        font-size: 30px;
    }
    .field4 .text-field4 p{
        /* width: 100%; */
        text-align: justify;
        font-size: 27px;
    }
    .btn .temukan{
        text-align: center;
    }
    /* Field-4 End */

    /* FAQ RESPONSIVE*/
    .faq .container .text-top{
        width: 90%;
    }
    .faq .container .text-top h1{
        font-size: 32px;
    }
    .faq .container .text-top p{
        font-size: 16px;
    }
    .faq .container .accordion{
        width: 75%;
    }
    .faq .container .accordion-link{
        font-size: 16px; 
    }
    .faq .container .accordion-link p{
        font-size: 14;
    }
    /* END FAQ RESPONSIVE*/

    /* Footer */
    .footer-logo {
        width: 60%;
    }
    /* End Footer */

}
/* END RESPONSIVE TABLET */

/* RESPONSIVE MOBILE */
@media all and (max-width: 670px) {

    /* Field-3 Start */
    .mentor .cardd {
        display: flex;
        flex-direction: column;
    }
    .mentor .card {
        width: 300px;
        height: 430px;
        /* margin-left: 0; */
    }
    .mentor .card-body {
        width: 270px;
    }
    .mentor .container .judul {
        max-width: 300px !important;
    }
    .mentor .container h1 {
        font-size: 40px;
    }
    .mentor .card-body p {
        text-align: center;
        /* line-height: 32px; */
        font-weight: 400;
        font-size: 15px !important;
    }
    /* Field-3 End */

    /* Field-4 Start */
    .field4{
        display: flex;
        width: 100%;
    }
    .field4 .gambar-tentor{
        width:100%;
        height: 200px;
    }
    .field4 .text-field4 h4{
        /* width: 100%; */
        font-size: 20px;
        text-align: center;

    }
    .field4 .text-field4 p{
        width: 100%;
        text-align: justify;
        line-height: 20px;
        font-size: 15px;
    }
    .btn .temukan{
        font-size: 13px;
        position: relative;
        padding-left: 40px;
    }

    /* Field-4 End */

    /* FAQ */
    .faq .container .text-top{
        width: 90%;
    }
    .faq .container .accordion{
        width: 90%;
    }
    /* END FAQ */

    /* Footer */
    .flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .flex-container > div {
        /* margin: 0 0; */
        width: 100%;
    }
    
    .footer-logo {
        width: 60%;
    }

    .footer-left p {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .footer-center {
        padding: 0 0;
        margin-bottom: 30px;
    }

    .footer-center-list li {
        margin: 10px 0;
    }

    .footer-right p {
        margin: 10px 0;
    }
    /* End Footer */
}
/* END RESPONSIVE MOBILE */
