@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

html{
    font-family: 'Inter', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
header{
    padding: 16px 0;
    box-shadow: 0 0.1px 5px 0px rgb(214, 214, 214);
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px
}
header .navigasi{
    float: right;
}

header .container ul li{
    padding: 0 15px;    
    color: white;
    display: block;
    float: left;
}
header .container ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header .container ul li a:hover{
    color: blue;
}
header .container .logo{
    display: flex;
    align-items: center;
    width: 130px;
    height: 35px;
}
header .container .profile{
    font-weight: bold;
    float: left;
    text-align: center;
}
header .container .profile .profile-element{
    display: flex;
    align-items: center;
}
header .container .profile img{
    width: 30px;
    height: 30px;
    padding: 0px 8px;
    border-radius: 50%;
}
.menu-icon{
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:  none;
    color: black;
}
.menu-icon:hover{
    color: blue;
}
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -100px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
}
.dropdown-content a i{
    margin-right: 10px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* END HEADER */

/* FIELD-4 START */
.field4{
    position: absolute;
    width: 100%;
    height: 652px;
    left: 0px;
    top: 1879px;
    background: #F5F7FB;
}
.container-field4{
    position: absolute;
    width: 100%;
    height: 419px;
    left: 75px;
    top: 120px;
}
.text-field4 h4{
    position: absolute;
    width: 566px;
    height: 96px;
    left: 715px;
    top: 120px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    
    color: #000000;
}
.text-field4 p{
    position: absolute;
    width: 650px;
    height: 216px;
    left: 715px;
    top: 234px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #000000;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    position: absolute;
    width: 197px;
    height: 64px;
    left: 720px;
    top: 471px;
    background: #4CCFC9;
    border-radius: 8px;
}
.temukan{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
/* FIELD-4 END */

/* FAQ */
.faq{
    margin-top: 100px;
    padding: 50px 0;
    background-color: #4CCFC9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq .container{
    width: 100%;
}
.faq .container .text-top{
    width: 80%;
    margin: 0 auto;
}
.faq .container .text-top h1{
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 44px;
}
.faq .container .text-top p{
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.faq .container .accordion{
    width: 60%;
    margin: 0 auto;
}
.faq .container .accordion-item{
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.faq .container .accordion-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 10px;  
}
.faq .container .accordion-link a:hover{
    color: blue;
}
.faq .container .accordion-link i{
    color: black;
    padding: 5px 10px 5px 0;
}
.accordion-link .fa-angle-up{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 90%;
    background-color: #4CCFC9;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
}
.container .accordion .answer p{
    color: black;
    padding: 2px 20px 10px 20px;
}
.accordion-item:target .answer{
    max-height:100px;
}
.accordion-item:target .accordion-link .fa-angle-down{
    display: none;
}
.accordion-item:target .accordion-link .fa-angle-up{
    display: block;
}
/* END FAQ */


/* RESPONSIVE TABLET */
@media all and (max-width: 1000px) {
    /* HEADER RESPONSIVE */
    header{
        padding: 2px 0;
    }
    header .container{
        padding: 0 40px;
    }
    .navigasi{
        display:  none;
      }
    .profile{
        display: none;
    }
    .menu-icon{
        display:  block;
    }
    /* END HEADER RESPONSIVE */

    /* FAQ RESPONSIVE*/
    .faq .container .text-top{
        width: 90%;
    }
    .faq .container .text-top h1{
        font-size: 32px;
    }
    .faq .container .text-top p{
        font-size: 16px;
    }
    .faq .container .accordion{
        width: 75%;
    }
    .faq .container .accordion-link{
        font-size: 16px; 
    }
    .faq .container .accordion-link p{
        font-size: 14;
    }
    /* END FAQ RESPONSIVE*/
}
/* END RESPONSIVE TABLET */

/* RESPONSIVE MOBILE */
@media all and (max-width: 670px) {
    /* FAQ */
    .faq .container .text-top{
        width: 90%;
    }
    .faq .container .accordion{
        width: 90%;
    }
    /* END FAQ */
}
/* END RESPONSIVE MOBILE */
